if [[ $(hostname) == "y9kfed" ]]; then
  export SPGLIB_HOME="$HOME/software/spglib-github/build_gcc/usr/local"
  export LAPACK_HOME="$HOME/local/programs/lapack-3.9.1"
  # module load intel/oneAPI-2022.1
elif [[ $(hostname) == "iopcas-fedora" ]]; then
  export SPGLIB_HOME="$HOME/local/github/spglib/build"
  export LAPACK_HOME="$HOME/local/programs/lapack-3.9.1"
fi

export CPATH="$SPGLIB_HOME/include:$CPATH"
export LD_LIBRARY_PATH="$SPGLIB_HOME/lib64:$LD_LIBRARY_PATH"
